<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001420856250-clrf0hrb1jgpuv0avehouki158r6lccc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001420856250-clrf0hrb1jgpuv0avehouki158r6lccc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1001420856250-ppsqt4hvp4ba3f88f5q4le5k0d4701jq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAEmw1PpJZ-NJbCavQxe0PS8Ij6pXzfcKg</string>
	<key>GCM_SENDER_ID</key>
	<string>1001420856250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.developer110.shiacompanion</string>
	<key>PROJECT_ID</key>
	<string>shia-comapnion</string>
	<key>STORAGE_BUCKET</key>
	<string>shia-comapnion.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001420856250:ios:4d62215fd5904af0191b83</string>
	<key>DATABASE_URL</key>
	<string>https://shia-comapnion.firebaseio.com</string>
</dict>
</plist>